<!DOCTYPE html>
<html>
<head>
<title>Online Flower Bouquets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id='header'>
  
</div>


 
<ul>
    <li><a href="/">Home</a><li>
    <li><a href="/bouquets">Bouquets</a></li>
    <li><a href="/postcodes">Postcode</a></li>
    <li><a href="/deliveries">Delivery</a></li>
    <li><a href="/payments">Payment</a></li>
  </ul>



  
  
  
  <div id='container'>
  
    
    
    

<%= yield %>

</div>

<div id='first-column'>
   <div class="loginbox">
   

    <% if user_signed_in? %>
        <h2>Sign in as ...<%current_user.email %>
          (<%= link_to 'Sign out' , destroy_user_sessions_path,
                    :method => :delete%>
        </h2>                  
  
      <% else %>
        <h2> <%= link_to 'Register' , new_user_registration_path %> 
  
        </h2>
  
        <h2> <%= link_to 'Sign in' , new_user_session_path %>
  
        </h2>
  
      <% end %>
      </div>
    
</div>

<div id='footer'>
  <h6 class="footertext">&copy;  Flowers Online :2017   </h6>
  
  </div>


</body>
</html>
